/* Hér er header CSS */
header {
    background-color: rgb(250, 235, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: #2b0202;
    border-radius: 5px;

}

#icon {

    padding-left: 10px;
}

.nav {
    display: flex;
    gap: 10px;
    padding-right: 10px;

}

/*  */
body {
    background: linear-gradient(to top left, #5a0909, #735050);
    font-family: Atkinson Hyperlegible;
    Arial;
}

a:hover {
    opacity: 0.7;
}

a {
    color: rgb(99, 153, 45);
}

video {
    border: #2b0202;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;

}

#profile {
    border-radius: 30px 0 30px 0;
    height: 200px;
}

.áhugamál-section {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}

.áhugamál {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.stopmotion {
    display: flex;
    padding: 10px;
    margin: 20px;
    justify-content: space-evenly;
}

.section-um-mig {
    display: flex;
    gap: 20px;
}

img {
    border-radius: 30px 0 30px 0;
    padding: 10px;
}

.innihald-köku {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.form {
    background-color: antiquewhite;
    border-radius: 10px;
}

/* Hér er footer content CSS */
footer {
    background-color: #2b0202;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.footer-right {
    display: flex;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}