/* Hér er header CSS */
header {
    background-color: rgb(250, 235, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: #2b0202;
    border-radius: 5px;

}

.nav {
    display: flex;
    gap: 10px;
    padding-right: 10px;

}

/* CSS í main */
body {
    background: linear-gradient(to top left, #5a0909, #735050);
    font-family: Atkinson Hyperlegible, Arial;
}

a:hover {
    opacity: 0.7;
}

a {
    color: rgb(99, 153, 45);
}

.section-um-mig {
    display: flex;
    gap: 20px;
}

#profile {
    border-radius: 30px 0 30px 0;
    height: 200px;

}

img {
    border-radius: 30px 0 30px 0;
    padding: 10px;
}

video {

    margin: 10px;
    padding: 10px;
    background-color: #735050;
    border-radius: 5px;

}

.áhugamál-section {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}

.div-áhugamál {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-stopmotion {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    justify-content: space-evenly;
}

.section-uppskrift {
    align-content: flex-start;
    padding: 10px;
    margin: 10px;
}

th {
    padding: 0 5px;
}

td {
    padding: 0 5px;
}

.div-innihald-köku {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}

.aðferð {
    height: 200px;
    width: 400px;
    flex-grow: 1;

}

.div-kökukrem {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    align-content: flex-start;

}

.section-form {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

}

.div-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-myndir {
    display: flex;
    flex-wrap: wrap;
}

.rós {
    max-height: 150px;
    max-width: 150px;
}


/* Hér er footer content CSS */
footer {
    background-color: #2b0202;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.footer-right {
    display: flex;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}